
header {
    background: #3295a8;
    height: 35px;
    padding: 15px;
    font-size: 28px;
    text-align: center;
 }

th h1 {
    
    color: chocolate;
    height: 90px;
    font-size: 60px;
    padding: 14px;
}

table 
{
    background-color: #3295a8;
}

body {
    color: black;
    font-size: 14px;
    padding: 1px;
}

.content {
    background: #eef0e9;
    min-height: 400px;
    color: black;
    padding: 10px;
    text-align: justify;
}

.content1 {
    background: #edf50a;
    min-height: 525px;
}

.div {
    box-sizing: border-box;
}

.btn {
    text-decoration: none;
    background-color: #ffc526;
    padding: 14px 100px;
    color: black;
}

.btn:hover {
    background-color: lightblue;
}

.test li {
    float: left;
    display: block;
    padding: 29px;
} 